:root {
  font-size: 12px;
  line-height: 1.2rem;
  /* colors */
  --first-color: #fc0;
  --second-color: #000;
  --light-bg: #fafafa;
  --dark-bg: #263238;
  --dark-bg-alt: #1e272c;
  --text-color: #212112;
  --ligth-text: #616161;
  /* font family */
  --font-oswald: 'Oswald', sans-serif;
  --font-robotocond: 'Roboto Condensed', sans-serif;
}

body {
  font-family: var(--font-robotocond);
  color: var(--text-color);
}
.bg-dark { background-color: var(--dark-bg); }
.bg-light { background-color: var(--light-bg); }
.txt-dark { color: var(--text-color) }
.txt-light { color: var(--ligth-text) }
.txt-first { color: var(--first-color) }
.txt-white { color: #fff }

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--ligth-text);
}

h2, .h1 {
  font-size: 2.25rem;
}
h2, .h2 {
  font-size: 2rem;
}
h3, .h3 {
  font-size: 1.75rem;
}
h4, .h4 {
  font-size: 1.5rem;
}
h5, .h5 {
  font-size: 1.25rem;
}
h6, .h6 {
  font-size: 1rem;
}

/* Header */
.log__link:first-child {
  margin-right: 10px;
}
.main-menu__list {
  position: absolute;
  left: -100%;
  width: 100%;
  transition: all .5s;
}
.main-menu__bars:hover {
  cursor: pointer;
  color: var(--first-color);
}
#main-menu__checkbox:checked ~ .main-menu__list {
  left: 0;
}
.main-menu__link {
  padding: 15px 0;
}
.main-menu__link:hover {
  background-color: var(--dark-bg-alt);
  color: var(--first-color)
}
.header__logo {
  position: relative;
}
.header__home-link {
  position: absolute;
  left: -50%;
  top: -75%;
}
.header__img {
  width:55px;
}
.search__btn{
  background-color: transparent;
}
.search__btn:hover {
  color: var(--first-color);
}