/*
 * Ordenamiento de propiedades Outside In
 * - layout properties (position, float, clear, display)
 * - Box Model properties (width, height, margin, padding)
 * - visual properties (color, background, border, box-sahadow)
 * - typography properties (font-size, font-family, text-align, text-transform)
 * - misc properties (cursor, overflow, z-index)
*/

:root {
  font-size: 12px;
  /* colors */
  --first-color:      #fc0;
  --first-color-alt:  #f0c000;
  --second-color:     #000;
  --second-color-alt: #0f0f0f;
  --light-bg:         #fafafa;
  --dark-bg:          #263238;
  --text-color:       #212112;
  --ligth-text:       #616161;
  /* font family */
  --font-oswald:     'Oswald', sans-serif; /* titulos */
  --font-robotocond: 'Roboto Condensed', sans-serif; /* cuerpo */
  /* font weight */
  --font-tiny:   300;
  --font-normal: 400;
  --font-bold:   700;
}

body {
  color: var(--text-color);
  font-family: var(--font-robotocond);
  font-weight: var(--font-normal);
}

/* heading */
h1, h2, h3,
h4, h5, h6 {
  font-family: var(--font-oswald);
  font-weight: 600;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 1.2em;
}
h1, .h1 { font-size: 2.25rem; }
h2, .h2 { font-size: 2rem; }
h3, .h3 { font-size: 1.75rem; }
h4, .h4 { font-size: 1.5rem; }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; }

/* colors and fonts */
.bg-dark    { background-color: var(--dark-bg); }
.bg-light   { background-color: var(--light-bg); }
.txt-dark   { color: var(--text-color); }
.txt-light  { color: var(--ligth-text); }
.txt-first  { color: var(--first-color); }
.txt-second { color: var(--second-color); }
.txt-white  { color: #fff; }
.tiny       { font-weight: var(--font-tiny); }
.normal     { font-weight: var(--font-normal); }
.bold       { font-weight: var(--font-bold); }