/*
 * Ordenamiento de propiedades Outside In
 * - layout properties (position, float, clear, display)
 * - Box Model properties (width, height, margin, padding)
 * - visual properties (color, background, border, box-sahadow)
 * - typography properties (font-size, font-family, text-align, text-transform)
 * - misc properties (cursor, overflow, z-index)
*/

:root {
  font-size: 12px;
  /* colors */
  --first-color:      #fc0;
  --first-color-alt:  #f0c000;
  --second-color:     #000;
  --second-color-alt: #0f0f0f;
  --light-bg:         #fafafa;
  --dark-bg:          #263238;
  --text-color:       #212112;
  --ligth-text:       #616161;
  /* font family */
  --font-oswald:     'Oswald', sans-serif; /* titulos */
  --font-robotocond: 'Roboto Condensed', sans-serif; /* cuerpo */
  /* font weight */
  --font-tiny:   300;
  --font-normal: 400;
  --font-bold:   700;
}

body {
  position: relative;
  color: var(--text-color);
  font-family: var(--font-robotocond);
  font-weight: var(--font-normal);
}
img { width: 100%; }
a:hover { text-decoration: none; }
#products:target,
#news:target,
#gallery:target { padding-top: 172px; }

/* heading */
h1, h2, h3,
h4, h5, h6 {
  font-family: var(--font-oswald);
  font-weight: 600;
  line-height: 1.30em;
}
p,
a,
span,
time,
i {
  line-height: 1.25em;
}
h1, .h1 { font-size: 2.25rem; }
h2, .h2 { font-size: 2rem; }
h3, .h3 { font-size: 1.75rem; }
h4, .h4 { font-size: 1.5rem; }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; }

/* colors and fonts */
.bg-dark  { background-color: var(--dark-bg); }
.bg-light { background-color: var(--light-bg); }
.txt-dark   { color: var(--text-color); }
.txt-light  { color: var(--ligth-text); }
.txt-first  { color: var(--first-color); }
.txt-second { color: var(--second-color); }
.txt-white  { color: #fff; }
.hover-txt-first:hover { color: var(--first-color); }
.txt-heading { font-family: var(--font-oswald); }
.txt-body    { font-family: var(--font-robotocond); }
.tiny   { font-weight: var(--font-tiny); }
.normal { font-weight: var(--font-normal); }
.bold   { font-weight: var(--font-bold); }

/* buttons */
.btn {
  display: inline-block;
  width: auto;
  border-radius: 5px;
  font-weight: var(--font-bold);
}
.btn--primary {
  background-color: var(--first-color);
  color: var(--text-color);
}
.btn--primary:hover { background-color: var(--first-color-alt); }
.btn--transparent:hover {
  background-color: var(--light-bg);
  color: var(--ligth-text);
}
.btn--ghost {
  border: 3px solid;
  background-color: transparent;
}
.btn--ghost--dark {
  color: var(--text-color);
  border-color: var(--text-color)
}
.btn--ghost--dark:hover {
  color: var(--first-color);
  background-color: var(--text-color);
}
.btn--ghost--primary {
  color: var(--first-color);
  border-color: var(--first-color);
}
.btn--ghost--primary:hover {
  color: var(--text-color);
  background-color: var(--first-color-alt);
}

/* cards */
.card {
  border-radius: 5px;
  box-shadow: 5px 5px 20px -8px var(--dark-bg);
  overflow: hidden;
}
.card__picture {
  height: 175px;
  overflow: hidden;
}
.card__img { height: 100%; }

/* ------------------------------ small ------------------------------ */
/* header */
.header {
  position: sticky;
  top: 0;
  background-color: #fff;
}
.main-menu__list {
  position: absolute;
  left: -100%;
  width: 100%;
  transition: left .5s;
}
#main-menu__checkbox:checked ~ .main-menu__list { left: 0; }
.main-menu__link:hover {
  color: var(--first-color-alt);
  background-color: rgba(0, 0, 0, 0.25);
}
.header__logo { position: relative; }
.header__home-link {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}
.home-link__img { width: 55px; }

/* hero */
.hero {
  background: linear-gradient(
              0deg, rgba(0, 0, 0, 0.75),
                    rgba(0, 0, 0, 0.75)),
              url(../img/hero.jpg)
              no-repeat
              center;
  background-size: cover;
}
.hero__title span { text-transform: uppercase; }

/* products */
.products__product {
  max-width: 320px;
  border-radius: 5px;
  box-shadow: 0 5px 10px -5px  var(--dark-bg);
}
.products__product:hover { box-shadow: 0 2px 10px -5px  var(--dark-bg) }
.product__picture {
  width: 50%;
  height: 200px;
  overflow: hidden;
}

/* news */
.news__card { max-width: 320px; }

/* gallery */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  grid-template-rows: repeat(4, 100px);
  grid-template-areas: "foto1 foto2 foto3"
                       "foto4 foto4 foto5"
                       "foto6 foto7 foto5"
                       "foto8 foto9 foto9";
  grid-gap: 10px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item:nth-child(1) { grid-area: foto1; }
.gallery__item:nth-child(2) { grid-area: foto2; }
.gallery__item:nth-child(3) { grid-area: foto3; }
.gallery__item:nth-child(4) { grid-area: foto4; }
.gallery__item:nth-child(5) { grid-area: foto5; }
.gallery__item:nth-child(6) { grid-area: foto6; }
.gallery__item:nth-child(7) { grid-area: foto7; }
.gallery__item:nth-child(8) { grid-area: foto8; }
.gallery__item:nth-child(9) { grid-area: foto9; }

/* aside */
.aside { background-color: var(--first-color); }
.team__logo { height: 100px; }
.team__img {
  width: auto;
  height: 100%;
}
.match__data i {
  width: 15px;
  text-align: center;
}
.cup__img {
  width: auto;
  height: 100px;
}

/* footer */
.contact__address i {
  width: 15px;
  text-align: center;
}
.contact__email { text-decoration: underline; }
.newsletter__input {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 5px;
}
.newsletter__input:focus { border-color: var(--first-color); }
.newsletter__input:valid        { color: #7dff7d; }
.newsletter__input:invalid      { color: #ff7171; }
.newsletter__input::placeholder { color: #fff; }
.social__link { font-size: 40px; }
.social__link:hover {color: var(--first-color); }
.sponsors__img { width: 150px; }
.footer__copyright a { text-decoration: underline; }
.footer__copyright a:hover {
  color: var(--first-color);
  text-decoration: none;
}

/* ------------------------------ medium ------------------------------ */
@media screen and (min-width: 768px) {
  :root { font-size: 14px; }

  .md-h1 { font-size: 2.25rem; }
  .md-h2 { font-size: 2rem; }
  .md-h3 { font-size: 1.75rem; }
  .md-h4 { font-size: 1.5rem; }
  .md-h5 { font-size: 1.25rem; }
  .md-h6 { font-size: 1rem; }

  /* header */
  .header__logo { order: -1; }
  .header__home-link {
    bottom: -25px;
    transform: translateX(0);
  }
  .home-link__img { width: 70px; }
  .main-menu__list {
    position: relative;
    left: 0;
    padding-left: 80px;
    background-color: transparent;
  }

  /* products */
  .products__product { max-width: 220px; }
  .product__picture {
    width: 60%;
    height: 170px;
  }

  /* news */
  .news__card { max-width: 700px; }

  /* gallery */
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 125px);
    grid-template-areas: "foto1 foto2 foto3 foto3"
                         "foto4 foto4 foto4 foto5"
                         "foto6 foto6 foto7 foto5"
                         "foto8 foto8 foto9 foto9";
  }

  /* aside */
  .team__logo { height: 125px; }
  .cup__img { height: 125px; }

  /* footer */
  .social__link { font-size: 50px; }
  .sponsors__img { width: 125px; }
}

/* ------------------------------ large ------------------------------ */
@media screen and (min-width: 1024px) {
  :root { font-size: 16px; }

  .lg-h1 { font-size: 2.25rem; }
  .lg-h2 { font-size: 2rem; }
  .lg-h3 { font-size: 1.75rem; }
  .lg-h4 { font-size: 1.5rem; }
  .lg-h5 { font-size: 1.25rem; }
  .lg-h6 { font-size: 1rem; }

  /* header */
  .header__home-link { bottom: -20px; }
  .home-link__img { width: 80px; }
  .main-menu__list { font-size: 1.1rem; }

  /* hero */
  .hero { height: calc(100vh - 172px); }

  /* products */
  .product__picture {
    width: 80%;
    height: 160px;
  }

  /* news */
  .news__card { max-width: 300px; }
  .card__picture { height: 160px; }
  .news__card .btn { width: 100%; }

  /* gallery */
  .gallery-aside {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  .gallery-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 120px);
    grid-template-areas: "foto1 foto1 foto2 foto3 foto3"
                         "foto1 foto1 foto4 foto4 foto4"
                         "foto5 foto6 foto4 foto4 foto4"
                         "foto5 foto7 foto4 foto4 foto4"
                         "foto8 foto8 foto8 foto9 foto9";
    grid-gap: 15px;
  }

  /* aside */
  .team__logo { height: 100px; }
  .cup__img { height: 100px; }

  /* footer */
  .sponsors__img { width: 160px; }
}